<template>
<div>
  <span>
    <home-main></home-main>
    <home-categories></home-categories>
    <home-details></home-details>
  </span>
</div>
</template>

<script>
import HomeMain from '@/components/HomeMain';
import HomeDetails from '@/components/HomeDetails';
import HomeCategories from '@/components/HomeCategoriesDotnet';

export default {
  name: 'Home',
  components: {
    'home-main': HomeMain,
    'home-details': HomeDetails,
    'home-categories': HomeCategories,
  }
};
</script>
