<template>
    <v-container fluid>
        <v-layout>
            <h1>Profile Page</h1>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    name: 'Profile'
};
</script>
<style scoped>
</style>
