<template>
<v-container fluid>
  <v-layout row wrap>
    <v-flex xs12 class="text-xs-center" mt-5>
      <h1>Sign In</h1>
    </v-flex>
    <v-flex xs12 sm6 offset-sm3 mt-3>
      <v-layout column>
        <v-flex>
          <v-alert type="error" dismissible v-model="alert">
            {{ error }}
          </v-alert>
        </v-flex>
        <v-flex>
          <v-text-field name="email" label="Email" id="email" type="email" v-model="email" required></v-text-field>
        </v-flex>
        <v-flex>
          <v-text-field name="password" label="Password" id="password" type="password" v-model="password" required></v-text-field>
        </v-flex>
        <v-flex class="text-xs-center" mt-5>
          <v-btn color="brown darken-4" class="white--text" :disabled="loading" @click.prevent="userSignIn">Sign In</v-btn>
          <v-btn color="brown darken-4" class="white--text" :disabled="loading" @click.prevent="onSigninGoogle">Login with Google</v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</v-container>
</template>
<script>
export default {
  data() {
    return {
      name: 'SignIn',
      email: '',
      password: '',
      alert: false
    }
  },
  methods: {
    userSignIn() {
      this.$store.dispatch('userSignIn', {
        email: this.email,
        password: this.password
      })
    },
    onSigninGoogle() {
      this.$store.dispatch('signUserInGoogle')
    }
  },
  computed: {
    error() {
      return this.$store.state.error
    },
    loading() {
      return this.$store.state.loading
    }
  },
  watch: {
    error(value) {
      if (value) {
        this.alert = true
      }
    },
    alert(value) {
      if (!value) {
        this.$store.commit('setError', null)
      }
    }
  }
};
</script>
<style scoped>
</style>
