<template>
<span>
  <v-navigation-drawer app v-model="drawer" class="brown lighten-2" dark disable-resize-watcher>
    <v-list>
      <template v-for="(item, index) in items">
        <v-list-tile :key="index">
          <v-list-tile-content>
            <router-link :to="{path:item.route}">
              {{item.title}}
            </router-link>
          </v-list-tile-content>
        </v-list-tile>
        <v-divider :key="`divider-${index}`"></v-divider>
      </template>
      <v-list-tile @click="userSignOut" v-if="isAuthenticated">
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>Sign Out</v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
  <v-toolbar app color="brown darken-4" dark>
    <v-toolbar-side-icon class="hidden-md-and-up" @click="drawer = !drawer"></v-toolbar-side-icon>
    <v-spacer class="hidden-md-and-up"></v-spacer>
    <router-link to="/">
      <v-toolbar-title to="/">{{appTitle}}</v-toolbar-title>
    </router-link>
    <v-btn flat class="hidden-sm-and-down" v-for="item in items" :key="item.title">
      <router-link :to="{path:item.route}">
        {{item.title}}
      </router-link>
    </v-btn>
    <v-spacer class="hidden-sm-and-down"></v-spacer>
    <v-btn flat @click="userSignOut" v-if="isAuthenticated">
      <v-icon left>exit_to_app</v-icon>Sign Out
    </v-btn>
  </v-toolbar>
</span>
</template>

<script>
export default {
  name: 'AppNavigation',
  data() {
    return {
      drawer: false,
    }
  },
  computed: {
    appTitle() {
      return this.$store.state.appTitle
    },
    isAuthenticated() {
      return this.$store.getters.isAuthenticated
    },
    items() {
      if (this.isAuthenticated) {
        return [{
            title: 'Recipes',
            route: "/recipes"
          },
          {
            title: 'Profile',
            route: "/profile"
          }
        ]
      } else {
        return [{
            title: 'Recipes',
            route: "/recipes"
          },
          {
            title: 'Sign In',
            route: "/signin"
          },
          {
            title: 'Join',
            route: "/signup"
          },
          {
            title: 'About',
            route: "/about"
          }
        ]
      }
    }
  },
  methods: {
    userSignOut() {
      this.$store.dispatch('userSignOut')
    }
  }
};
</script>

<style scoped>
a {
  color: white;
  text-decoration: none;
}
</style>
