<template >
<v-container grid-list-lg id="first">
  <v-layout row>
    <v-flex xs12 class="text-xs-center display-1 font-weight-black my-5">Recipes</v-flex>
  </v-layout>
  <v-layout row wrap>
    <v-flex v-for="category in categories" :key="category.id" xs12 sm12 md3>
      <v-card>
        <v-img :src="category.image" height="400px">
          <v-container fill-height fluid>
            <v-layout fill-height>
              <v-flex xs12 align-end flexbox>
                <span class="headline white--text">{{category.name}}</span>
              </v-flex>
            </v-layout>
          </v-container>
        </v-img>
        <v-card-title primary-title>
          <div>
            <h3 class="headline mb-0">{{category.name}}</h3>
            <div>{{category.description}}
            </div>
          </div>
        </v-card-title>
      </v-card>
    </v-flex>

    <v-flex xs12 sm12 md12 text-xs-center>
      <v-btn fab class="text-xs-center mt-5 brown darken-4" @click="$vuetify.goTo(target, options)">
        <v-icon large color="white">expand_more</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import db from './firebaseInit';
import * as easings from 'vuetify/es5/util/easing-patterns';

export default {
  name: 'HomeCategories',
  data() {
    return {
      categories: [],
      loading: true,
      type: 'selector',
      selector: '#second',
      duration: 300,
      offset: 0,
      easing: 'easeInOutCubic',
      easings: Object.keys(easings)
    }
  },
  created() {
    db.collection('categories').orderBy('name').get().then((querySnapshot) => {
      this.loading = false
      querySnapshot.forEach((doc) => {
        const data = {
          'id': doc.id,
          'name': doc.data().name,
          'description': doc.data().description,
          'image': doc.data().image
        }
        this.categories.push(data)
      })
    })
  },
  computed: {
    target() {
      const value = this[this.type]
      if (!isNaN(value)) return Number(value)
      else return value
    },
    options() {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  }
};
</script>

<style scoped>
</style>
