<template>
<v-container fluid fill-height class="home-main" style="max-height: 80vh;">
  <v-layout justify-center align-center column pa-5>
    <div class="display-3 font-weight-black white--text text-xs-center">HEALTHY AND NOT SO MEALS </div>
    <div class="display-3 font-weight-black white--text text-xs-center mb-3">FOR YOUR TABLE OR DESK</div>
    <div class="display-1 font-weight-bold white--text text-xs-center">All variety of recipes.</div>
    <v-btn fab class="mt-5 brown darken-4" @click="$vuetify.goTo(target, options)">
      <v-icon large color="white">expand_more</v-icon>
    </v-btn>
  </v-layout>
</v-container>
</template>

<script>
import * as easings from 'vuetify/es5/util/easing-patterns'

export default {
  name: 'HomeMain',
  data() {
    return {
      type: 'selector',
      selector: '#first',
      duration: 300,
      offset: 0,
      easing: 'easeInOutCubic',
      easings: Object.keys(easings)
    }
  },
  computed: {
    target() {
      const value = this[this.type]
      if (!isNaN(value)) return Number(value)
      else return value
    },
    options() {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  }
};
</script>

<style scoped>
.home-main {
  background: url('https://static1.squarespace.com/static/54d3b744e4b07b2898a56f8d/t/5ba52e3ae4966bd5f8c7493e/1482358028454/iStock_000046272610_Large.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
}
</style>
