
<template>
<v-container id="second">
  <v-layout column>
    <v-flex xs12 class="text-xs-center display-1 font-weight-black my-5">Title</v-flex>
    <v-flex>
      <div class="headline mt-3">0</div>
      <p class="subheading mt-3">000</p>
    </v-flex>
    <v-flex>
      <div class="headline mt-3">1</div>
      <p class="subheading mt-3">111</p>

      <p class="subheading mt-3">2</p>

      <p class="subheading mt-3">222</p>
    </v-flex>
    <v-flex>
      <div class="headline mt-3">3</div>
      <p class="subheading mt-3">333</p>
    </v-flex>
    <v-flex text-xs-center>
      <v-btn fab class="mt-5 brown darken-4" @click="$vuetify.goTo(target, options)">
        <v-icon large color="white">expand_more</v-icon>
      </v-btn>
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import * as easings from 'vuetify/es5/util/easing-patterns'

export default {
  name: 'HomeDetails',
  data() {
    return {
      type: 'selector',
      selector: '#third',
      duration: 300,
      offset: 0,
      easing: 'easeInOutCubic',
      easings: Object.keys(easings)
    }
  },
  computed: {
    target() {
      const value = this[this.type]
      if (!isNaN(value)) return Number(value)
      else return value
    },
    options() {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      }
    }
  }
};
</script>

<style scoped>
</style>
